#postdate {
  position: relative;
  color: navy;
  font-size: 12px;
}

html {
  font-family: Arial;
}

#quote {
  font-family: cursive;
  font-size: 24px;
}

img {
  display: block;
  border: 1px solid black;
  height: 200px;
  margin-left: auto;
  margin-right: auto;

}

#blogtext {
  text-align: left;
  white-space: normal;

}

.ruby {
  font-style: bold;
  background-color: #70F171;
}